extends layout

block content
  .container
    .card
      .container-fluid
        .wrapper.row
          .preview.col-md-6
            .preview-pic.tab-content
              #pic-1.tab-pane.active
                img(src=product.picture)  
          .details.col-md-6
            .title-wrapper
              h3.product-title= product.name   
              button.like.btn.btn-default(type='button')
                span.fa.fa-heart
            .rating
              .stars
                - for (let i = 0; i < product.rating; i++)
                  span.fa.fa-star.checked
                - for (let i = 0; i < 5 - product.rating; i++)
                  span.fa.fa-star
            p.product-description= product.description 
            .action
              button.add-to-cart.btn.btn-default(type='button') Care guiding tips
            h4.price
              | Level   
              span= product.careGuide.level   
            h4.price
              | Temperature   
              span= product.careGuide.temperature
            h4.price
              | Light     
              span= product.careGuide.light
            h4.price
              | Watering   
              span= product.careGuide.water
            h4.price
              | Fertilizing   
              span= product.careGuide.fertilize
            h4.price
              | Bloom time   
              span= product.careGuide.bloomTime
            p.vote
              strong= product.votes
              | PrettyPetals club members enjoyed this flower!
              strong (#{product.votes} votes)

  .container
    .card
      .container-fliud
        .wrapper.row
          .preview.col-md-6
            .preview-pic.tab-content
              #pic-1.tab-pane.active
                img(src='../images/2.jpg')  
                <!-- https://www.pexels.com/photo/selective-focus-photography-of-pink-and-white-petal-flower-158302/ -->
          .details.col-md-6
            .title-wrapper
              h3.product-title Chrysanthemum
              button.like.btn.btn-default(type='button')
                span.fa.fa-heart
            .rating
              .stars
                span.fa.fa-star.checked
                span.fa.fa-star.checked
                span.fa.fa-star.checked
                span.fa.fa-star.checked
                span.fa.fa-star
            p.product-description
              | The genus Chrysanthemum are perennial herbaceous flowering plants, sometimes subshrubs. The leaves are alternate, divided into leaflets and may be pinnatisect, lobed, or serrate (toothed) but rarely entire; they are connected to stalks with hairy bases.The compound inflorescence is an array of several flower heads, or sometimes a solitary head. The head has a base covered in layers of phyllaries. The simple row of ray florets is white, yellow, or red. The disc florets are yellow. Pollen grains are approximately 34 microns.

            .action
              button.add-to-cart.btn.btn-default(type='button') Care guiding tips
            h4.price
              | Level   
              span beginner
            h4.price
              | Temperature   
              span 27°C
            h4.price
              | Light     
              span 6 hours of sunlight each day
            h4.price
              | Watering   
              span twice per week
            h4.price
              | Fertilizing   
              span regular high nitrogen and potassium
            h4.price
              | Bloom time   
              span summer, autumn
            p.vote
              strong 99
              |  PrettyPetals club members enjoyed this flower! 
              strong (99 votes)

  .container
    .card
      .container-fliud
        .wrapper.row
          .preview.col-md-6
            .preview-pic.tab-content
              #pic-1.tab-pane.active
                img(src='../images/3.jpg')  
                <!-- https://www.pexels.com/photo/close-up-of-an-orchid-flower-17322282/ -->
          .details.col-md-6
            .title-wrapper
              h3.product-title Orchid
              button.like.btn.btn-default(type='button')
                span.fa.fa-heart
            .rating
              .stars
                span.fa.fa-star.checked
                span.fa.fa-star.checked
                span.fa.fa-star.checked
                span.fa.fa-star.checked
                span.fa.fa-star.checked
            p.product-description
              | Orchids are easily distinguished from other plants, as they share some very evident derived characteristics or synapomorphies. Among these are: bilateral symmetry of the flower (zygomorphism), many resupinate flowers, a nearly always highly modified petal (labellum), fused stamens and carpels, and extremely small seeds.Terrestrial orchids may be rhizomatous or form corms or tubers. The root caps of terrestrial orchids are smooth and white. Some sympodial terrestrial orchids, such as Orchis and Ophrys, have two subterranean tuberous roots. One is used as a food reserve for wintry periods, and provides for the development of the other one, from which visible growth develops. In warm and constantly humid climates, many terrestrial orchids do not need pseudobulbs.
            .action
              button.add-to-cart.btn.btn-default(type='button') Care guiding tips
            h4.price
              | Level   
              span advanced
            h4.price
              | Temperature   
              span 12°C
            h4.price
              | Light     
              span indirect sunlight
            h4.price
              | Watering   
              span once every 7 to 10 days
            h4.price
              | Fertilizing   
              span equal amounts of nitrogen, phosphorus and potassium
            h4.price
              | Bloom time   
              span early spring, late autumn
            p.vote
              strong 100
              |  PrettyPetals club members enjoyed this flower! 
              strong (100 votes)

  .container
    .card
      .container-fliud
        .wrapper.row
          .preview.col-md-6
            .preview-pic.tab-content
              #pic-1.tab-pane.active
                img(src='../images/4.jpg')  
                <!-- https://www.pexels.com/photo/close-up-of-an-iris-planifolia-12245429/ -->
          .details.col-md-6
            .title-wrapper
              h3.product-title Iris Planifolia
              button.like.btn.btn-default(type='button')
                span.fa.fa-heart
            .rating
              .stars
                span.fa.fa-star.checked
                span.fa.fa-star.checked
                span.fa.fa-star.checked
                span.fa.fa-star
                span.fa.fa-star
            p.product-description
              | Iris planifolia has a large brown ovoid bulb (around 2 in (51 mm) in diameter), with fleshy cylindrical white roots. The shiny green leaves that grow up to 10–30 cm (3.9–11.8 in) long and 1–3 cm wide[4] can conceal the short stem[2] at flowering time. The leaves are lanceolate, beginning narrow at soil level and growing up to a point. It is regarded as having one of the largest flowers in the subgenus Scorpiris. It can begin to flower in December, in January or February. In the wild it has been known to flower as late as Autumn. The flowers have a light scent,[6] which can be described as spicy. It is a short, stout plant with up to three large flowers per stem, which are generally 6–7 cm in diameter, with a perianth tube of 8–18 cm long. The falls are 5–8 cm long and the standards are 2 cm long. The plant can reach a maximum height of 15 sm.
            .action 
              button.add-to-cart.btn.btn-default(type='button') Care guiding tips
            h4.price
              | Level   
              span beginner
            h4.price
              | Temperature   
              span 15°C
            h4.price
              | Light     
              span bright, direct sunlight
            h4.price
              | Watering   
              span every 9 days
            h4.price
              | Fertilizing   
              span low nitrogen
            h4.price
              | Bloom time   
              span summer, autumn
            p.vote
              strong 42
              |  PrettyPetals club members enjoyed this flower! 
              strong (42 votes)

  .container
    .card
      .container-fliud
        .wrapper.row
          .preview.col-md-6
            .preview-pic.tab-content
              #pic-1.tab-pane.active
                img(src='../images/5.jpg')  
                <!-- https://www.pexels.com/photo/close-up-photo-of-blue-flowers-1578105/ -->
          .details.col-md-6
            .title-wrapper
              h3.product-title Myosotis
              button.like.btn.btn-default(type='button')
                span.fa.fa-heart
            .rating
              .stars
                span.fa.fa-star.checked
                span.fa.fa-star.checked
                span.fa.fa-star.checked
                span.fa.fa-star.checked
                span.fa.fa-star
            p.product-description
              | Myosotis is a genus of flowering plants in the family Boraginaceae. The name comes from the Ancient Greek μυοσωτίς "mouse's ear", which the foliage is thought to resemble. In the Northern Hemisphere, they are colloquially known as forget-me-nots or scorpion grasses. Myosotis alpestris is the official flower of Alaska and Dalsland, Sweden. Plants of the genus are not to be confused with Chatham Islands' forget-me-nots, which belong to the related genus Myosotidium.
            .action
              button.add-to-cart.btn.btn-default(type='button') Care guiding tips
            h4.price
              | Level   
              span intermediate
            h4.price
              | Temperature   
              span 15°C
            h4.price
              | Light     
              span shade-loving plant
            h4.price
              | Watering   
              span every day
            h4.price
              | Fertilizing   
              span balanced, all-purpose fertilizer
            h4.price
              | Bloom time   
              span spring, summer, autumn
            p.vote
              strong 48
              |  PrettyPetals club members enjoyed this flower! 
              strong (48 votes)

  .container
    .card
      .card-header
        | Quote
      .card-body
        blockquote.blockquote.mb-0
          p 
            | They are autographs of angels, penned
            br
            | In Nature’s green-leaved book, in blended tints,
            br
            | Borrowed from rainbows and the sunset skies,
            br
            | And written everywhere–on plain and hill,
            br
            | In lonely dells, ‘mid crowded haunts of men;
            br
            | On the broad prairies, where no eye save God’s
            br
            | May read their silent, sacred mysteries. Thank God for flowers!
            br
            | They gladden human hearts; Seraphic breathings part their fragrant lips
            br
            | With whisperings of Heaven.
            br
          footer.blockquote-footer
            | Written by 
            cite(title='Albert Laighton') Albert Laighton

