extends layout

block content
  .container
    .main
      .main-center
        h5= info.title  

        form(method='post', action='/registration')
          .form-group
            label(for='firstName') First Name
            input#firstName.form-control(type='text', name='firstName', placeholder=info.form.firstName.placeholder)
          .form-group
            label(for='lastName') Last Name
            input#lastName.form-control(type='text', name='lastName', placeholder=info.form.lastName.placeholder)
          .form-group
            label(for='username') Username
            input#username.form-control(type='text', name='username', placeholder=info.form.username.placeholder)
          .form-group
            label(for='email') E-mail
            input#email.form-control(type='email', name='email', placeholder=info.form.email.placeholder)
          .form-group
            label(for='password') Password
            input#password.form-control(type='password', name='password', placeholder=info.form.password.placeholder)
          .form-group
            label(for='confirm') Confirm Password
            input#confirm.form-control(type='password', name='confirm', placeholder=info.form.confirm.placeholder)
          .form-group
            label(for='favouriteFlower') Favourite Flower
            input#favouriteFlower.form-control(type='text', name='favouriteFlower', placeholder=info.form.favouriteFlower.placeholder)
          button(type='submit') Register
